@{ ViewData["Title"] = "Home Page"; }
<div class="container">
    <div class="row container">
        <div class="col-6 p-auto m-auto">
            <p class="home-text text-center " style="color:orangered">Welcome To The <strong>Biga World</strong></p>
            <p class="text-center">
                <strong>
                    We’re here to help you get the best out of your money, no strings
                    attached.
                    Welcome to your FREEDOM!
                </strong>
            </p>
            <div class="row">
                <div class="col-md-6">
                    <a href="#"><img class="img-size" src="images/apple-play.png"></a>
                </div>
                <div class="col-md-6">
                    <a href="#"><img class="img-size" src="images/play-store.png"></a>
                </div>
            </div>
        </div>
        <div class="col-xlg-6">
            <img class="home-img" src="images/biga-invent.jpg">
        </div>
    </div>
</div>


<div class="container">
    <div class="card-deck justify-content-around">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <p class="card-text" style="color:orangered">Keep Track Of Your Equipment and Tools With No Stress.</p>
            </div>
        </div>
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <p class="card-text" style="color:orangered">See where your Equipment goes without solving equations.</p>
            </div>
        </div>
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <p class="card-text" style="color:orangered">Create smart budgets to help you take control of your distribution.</p>
            </div>
        </div>
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <p class="card-text" style="color:orangered">Pay absolutely nothing for sending Equipment</p>
            </div>
        </div>

    </div>




</div>
<div class="container">
    <div class="row-container">
        <div class="row container">
            <div class="col-6 p-auto m-auto">
                <p class="home-text" style="color:orangered">
                    Your company +
                    our app
                    =
                    a simpler life.
                </p>
                <p class="text-left">
                    <strong>
                        We designed a system for your busy lifestyle, and we’ll give you
                        the best way to go with it. That’s all you
                        need to make the right moves with your tools, no sweat.!
                    </strong>
                </p>
            </div>
            <div class="col-xlg-6">
                <img class="home-img" src="~/images//biga-inv.jpg">
            </div>
        </div>

    </div>
</div>

